
body{
    padding: 10px;
}
.box_wapper {
    overflow: hidden;
    padding: 10px;
}
.box1 {
      margin-right: 90px;
}
.box2 {
   
    margin-right: -5px;

}

.btn {
    display: block;
    margin: 0 auto;
    width: 160px;
    margin-bottom: 10px;
    margin-top: 20px;
}
